<file-drop *ngIf="!data"></file-drop>
<span class="mat-title" *ngIf="data">{{ data.title }}</span>
<mat-tab-group animationDuration="0ms"
               *ngIf="data" mat-align-tabs="start" [(selectedIndex)]="tabindex">
  <mat-tab label="Züge">
    <trains-overview [timetableData]="data"></trains-overview>
  </mat-tab>
  <mat-tab label="Verkehrsperioden">
    <operating-period-tab [timetableData]="data"></operating-period-tab>
  </mat-tab>
  <mat-tab label="Zugvarianten">
    <train-variant-tab [timetableData]="data"></train-variant-tab>
  </mat-tab>
  <mat-tab label="Details">
    <app-file-details-tab [timetableData]="data"></app-file-details-tab>
  </mat-tab>
</mat-tab-group>
