<div *ngIf="zug">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="mat-h3">
          <mat-icon [matTooltip]="'Zug mit Nummer'" class="train-icon">directions_railway</mat-icon>
          {{zug.zugnummer}}
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <ul>
        <li class="mat-body">DK-Attribut: {{zug.dk}}</li>
        <li class="mat-body">Verkehrsperiode: {{zug.verkehrsperiode.name}} ({{zug.vpId}})
          <mat-icon [matTooltip]="'Verkehrsperide einsehen'" class="search" color="primary" (click)="navigateToVPTab(zug.verkehrsperiode)">search</mat-icon>
        </li>
        <li class="mat-body" *ngIf="zug.hasTractions()">Traktionen: {{zug.getTractionsAsString()}}</li>
        <li class="mat-body" *ngIf="zug.hasFolgezug()">Folgezug: {{zug.folgezugNumber}}</li>
      </ul>
      <app-passage-view *ngFor="let passage of zug.passagen"
                        [passage]="passage"
      ></app-passage-view>
    </ng-template>
  </mat-expansion-panel>
</div>
