<span class="mat-body move-right">{{meldung.name}} - {{meldung.outputMediumCode}} ({{meldung.outputMediumId}})
    <span class="mat-body" *ngIf="meldung.sprache">({{meldung.sprache.beschreibung}})</span>
  </span>

<ol>
  <li *ngFor="let variante of meldung.meldungVarianten">
      <span class="mat-body" *ngIf="isTextMeldungVariante(variante)">
        <mat-icon [matTooltip]="'Textmeldung'" color="primary">monitor</mat-icon>
        {{variante.text}}
      </span>
    <span class="mat-body" *ngIf="isBildMeldungVariante(variante)">
        <mat-icon [matTooltip]="'Bildmeldung'" color="primary">image</mat-icon>
      {{variante.filename}} - {{variante.format}}
      </span>
    <span class="mat-body" *ngIf="isAudioMeldungVariante(variante)">
        <mat-icon [matTooltip]="'Audiomeldung'" color="primary">chat_bubble</mat-icon>
      {{variante.filename}} - {{variante.format}}
      <span class="mat-body" *ngIf="variante.sprache">({{variante.sprache.beschreibung}})</span>
      </span>
  </li>
</ol>
