<div>
<mat-form-field appearance="fill">
  <mat-label>Verkehrsperioden</mat-label>
  <mat-select [(value)]="viewModel.current" (selectionChange)="updateMonthsToDisplay()">
    <mat-option *ngFor="let operatingPeriod of operatingPeriods"
                [value]="operatingPeriod">
      {{operatingPeriod.displayName}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<span *ngIf="viewModel.current">
  <app-calendar-view *ngFor="let monthToDisplay of monthsToDisplay"
                     [operatingPeriod]="viewModel.current"
                     class="float-to-left"
                     [month]="monthToDisplay"></app-calendar-view>
</span>
